@using ATM.Core.Domain.Users
@model ATM.Core.Services.Users.CreateUserRequest
@{
    Layout = "_Layout";
}
<div class="container-fluid px-4">
    <form asp-action="CreateUser" asp-controller="User" method="POST" class="form-group bmd-form-group">
        <div class="card-body">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <div class="form-group">
                    <label class="font-label">Name</label><span class="required-field">*</span>
                    <input asp-for="Name" class="form-control" type="text" maxlength="128">
                    <span asp-validation-for="Name" class="form-text text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="font-label">Email</label><span class="required-field">*</span>
                    <input asp-for="Username" type="email" class="form-control" type="text" maxlength="128" autocomplete="off">
                    <span asp-validation-for="Username" class="form-text text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="font-label">Role</label><span class="required-field">*</span>
                    <select asp-for="Role" class="form-control" asp-items="@Html.GetEnumSelectList<UserRole>()"></select>
                </div>
                <div class="form-group">
                    <label class="font-label">Password</label><span class="required-field">*</span>
                    <input asp-for="Password" type="password" class="form-control" placeholder="Password" autocomplete="off" />
                    <span asp-validation-for="Password" class="form-text text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="font-label">Confirm Password</label><span class="required-field">*</span>
                    <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Confirm Password" autocomplete="off" />
                    <span asp-validation-for="ConfirmPassword" class="form-text text-danger"></span>
                </div>
                <br />
                <div style="float:right">
                    <button type="submit" class="btn btn-primary">Save</button>
                     <a class="btn btn-secondary" href="@Url.Action("Index", "User")">Cancel</a>
                </div>
            </div>
        </div>

    </form>
</div>
<br />